/* ================================
   ~/.config/wofi/style.css
   Thème Tokyo-Night minimaliste
   ================================ */

/* Couleurs */
@define-color bg    #1a1b26;
@define-color fg    #c0caf5;
@define-color blue  #7aa2f7;
@define-color cyan  #449dab;
@define-color red   #f7768e;

window {
    margin: 0px;
    border: 2px solid @blue;
    background-color: alpha(@bg, 0.95);
    border-radius: 12px;
}

#entry {
    padding: 6px 10px;
    margin: 2px;
    border-radius: 6px;
    background: transparent;
    color: @fg;
}

#entry:selected {
    background: alpha(@blue, 0.25);
    color: @fg;
    font-weight: bold;
}

#input {
    margin: 6px;
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    color: @fg;
    background-color: alpha(@blue, 0.15);
    font-family: "Hack Nerd Font", monospace;
    font-size: 11pt;
}
